In [51]:
# Add dependencies
import pandas as pd
import os

In [52]:
# Files to load
# Indirect path to resource files
school_file = os.path.join("resources", "schools_complete.csv")
student_file = os.path.join("resources", "clean_students_complete.csv")

In [53]:
# Read the csv files
school_data_df = pd.read_csv(school_file)
student_data_df = pd.read_csv(student_file)

In [54]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [55]:
# Get the total number of students
student_count = school_data_complete_df["Student ID"].count()

In [56]:
# Calculate the total number of schools
school_count = school_data_df["School ID"].count()
school_count2 = len(school_data_complete_df["school_name"].unique())

In [57]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()

In [58]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

In [59]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()

In [60]:
# Determine the passing grade
passing = 70

# Get all the students who are passing math in a new DataFrame
passing_math_df = school_data_complete_df[school_data_complete_df["math_score"] >= passing]
passing_reading_df = school_data_complete_df[school_data_complete_df["reading_score"] >= passing]

In [61]:
# Calculate the number of students passing math
passing_math_count = passing_math_df["student_name"].count()

# Calculate the number of students passing reading
passing_reading_count = passing_reading_df["student_name"].count()

In [62]:
# Calculate the percent that passed math
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [63]:
# Calculate the students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [64]:
# Calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [65]:
# Calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

In [77]:
# Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

In [78]:
# Format the columns
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("{:,}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428",79.0,81.9,75,86,65